.kebab {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  padding: 0px 5px;
  border-radius: 50%;
  &:hover {
    background-color: #fafafa;
  }

  &__menu-item {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;

    &:hover { background-color: orange; color: black }
    &:last-of-type {
      border-bottom: none;
    }
  }
  &__hidden {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 100px;
    background-color: white;   
    border: 1px solid black;
    cursor: pointer;
    z-index: 100;
    font-size: .7rem;
  }
  &__button { 
    height: 10px;
    width: 10px;
    &--rotated { transform: rotate(90deg) }
  }
}