@import '../../../partials/mixins';

.tournament {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 250px;
  height: 150px;
  position: relative;
  transition-duration: .3s;
  flex-grow: 1;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.12);
  background-color: white;

  @include tablet {
    max-width: 50%;
  }

  &:hover {
    border: 1px solid orange;
  }

  &__row {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    div > p {
      margin: 0;
      font-size: .9rem;
    }

    div > p > span {
      font-weight: bold;
    }
  }

  &__header {
    margin: 20px 0 -5px 0;
    font-size: 1.5rem;
  }

  &__status {
    font-size: 0.8rem;
    position: absolute;
    top: 3px;
    left: 5px;
    letter-spacing: 1px;
    border: 1px solid black;
    padding: 1px 5px;
    
    &--new {
      background-color: orange;
      color: white;
    }

    &--completed {
      background-color: green;
      color: white;
    }

    &--canceled {
      background-color: red;
      color: white;
    }

    &--paused {
      background-color: blue;
      color: white;
    }

    &--active {
      background-color: yellow;
    }
  }

  &__date {
    font-style: italic;
  }

  &__type {
    font-size: 1rem;
    text-transform: capitalize;
  }
}